{% extends 'base.html' %}

{% load static %}

{% block title %}Course Details - Greensoft Groups{% endblock %}

{% block content %}
<div class="container-xxl py-5">
  <div class="container">
    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
      <h6 class="section-title bg-white text-center text-info px-3">Learn and Explore</h6>
      <h1 class="mb-5">Frontend Development using Angular</h1>
    </div>
    <div class="col-lg-12">
        <p class="mb-4">This powerful Angular for Beginners course would allow you to create highly scalable and interactive web applications with help from our specialized industry mentors with years of experience. Throughout the course, you’ll learn to master beginner concepts in Angular such as basic architecture, features, components, and logic functions to write your first program. This would be followed by an introduction to advanced Angular concepts like templates, pipes, data binding, form validation, fetching data from API, and using HTTP services to debug, optimize, and test your Angular application. This angular certification course will help you build a stellar portfolio of Angular projects, gain skills to improve your web development game, and ace technical angular interviews as a beginner in the field.</p>
        <a class="btn btn-secondary py-3 px-5 mt-2" href="{% url 'course_registration' %}">Join Now</a>
    </div>
  </div>
</div>

<div class="container-xxl py-5">
  <div class="container">
    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
      <h6 class="section-title bg-white text-center text-info px-3">Certificates</h6>
      <h1 class="mb-5">Build your Support and Operations expertise</h1>
    </div>
    <div class="row g-5">
      <div class="col-lg-6">
        <h5 class="mt-4">Learn new concepts from industry experts</h5>
        <h5 class="mt-4">Gain a foundational understanding of a subject or tool</h5>
        <h5 class="mt-4">Develop job-relevant skills with hands-on projects</h5>
        <h5 class="mt-4">Earn a shareable career certificate</h5>
      </div>
      <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
        <div class="position-relative h-100">
            <img class="img-fluid position-absolute w-100 h-100" src="https://i.postimg.cc/FFBHrQ3n/a7c5400e51272c78b710ce9b56fd3178.avif" alt="" style="object-fit: cover;">
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container-xxl py-5">
  <div class="container">
    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
      <h6 class="section-title bg-white text-center text-info px-3">Certificates</h6>
      <h1 class="mb-5">Earn a career certificate</h1>
    </div>
    <div class="row g-5">
      <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
        <div class="position-relative h-100">
            <img class="img-fluid position-absolute w-100 h-100" src="https://i.postimg.cc/C1XBggRB/certificate.avif" alt="" style="object-fit: cover;">
        </div>
      </div>
      <div class="col-lg-6">
        <p class="mb-4">Add this credential to your LinkedIn profile, resume, or CV</p>
        <p class="mb-4">Share it on social media and in your performance review</p>
        <p class="mb-4">Certificates are globally recognized & they upgrade your programming profile.</p>
        <p class="mb-4">Certificates are generated after the completion of the course.</p>
        <h6 class="mb-4">Details to know</h6>
        <i class="fab fa-linkedin-in text-primary"></i>
        <p class="mb-4">Shareable certificate</p>
      </div>
    </div>
  </div>
</div>


<div class="container-xxl py-5">
  <div class="container">
    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
      <h6 class="section-title bg-white text-center text-info px-3">Angular Js  Paid Course</h6>
      <h1 class="mb-5">There are 5 modules in this course</h1>
    </div>
    <div class="col-lg-12">
        <p class="mb-4">Welcome to our paid Angular Js  course! This course covers advanced Python concepts.</p>
        <a class="btn btn-secondary py-3 px-5 mt-2 mb-4" href="{% url 'course_registration' %}">Join Now</a>
        <p class="mb-4">This course is tailored for those interested in web development, and it will equip you with the skills and knowledge needed to become proficient in Angular.</p>
        <p class="mb-4">In the first module, Introduction to HTML & CSS, you'll explore the foundational principles of HTML and CSS, vital for creating web pages. You'll learn how to structure an HTML document and use CSS to stylize your web page's layout.</p>
        <p class="mb-4">The second module, Introduction to JavaScript Programming, dives into JavaScript, a critical language for web development. You'll gain a comprehensive insight into variables, data types, control structures, functions, and other core concepts, enabling you to create robust and dynamic web applications.</p>
        <p class="mb-4">Finally, in the third module, Angular for Frontend Development, you'll be guided into Angular, a popular JavaScript framework known for building scalable and dynamic web applications. You'll master essential concepts such as components, modules, directives, services, and templates, enabling you to create complex, maintainable, and scalable web applications.</p>
        <p class="mb-4">Throughout this course, hands-on exercises, quizzes, and assignments will enable you to actively grasp and apply the concepts learned. By the end of the course, you'll be proficient in using Angular to create frontend applications, and you'll be prepared to explore more advanced topics in subsequent courses in the specialization.</p>
    </div>
  </div>
</div>


<div class="container-xxl py-5">
  <div class="container">
    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
      <h6 class="section-title bg-white text-center text-info px-3">Topics Covered</h6>
      <h1 class="mb-5">Angular Js Course Topics You will Learn</h1>
    </div>
    <div class="col-lg-12">
      <div class="accordion" id="accordionModules">
        <div class="accordion-item">
          <h2 class="accordion-header" id="moduleHeading-1">
            <button class="accordion-button bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#moduleCollapse-1" aria-expanded="true" aria-controls="moduleCollapse-1">
              <i class="fa fa-arrow-right text-info me-2"></i> Beginner Module
            </button>
          </h2>
          <div id="moduleCollapse-1" class="accordion-collapse collapse show" aria-labelledby="moduleHeading-1" data-bs-parent="#accordionModules">
            <div class="accordion-body">
                <ul>
                    <li>The Developer's Choice for Web Applications</li>
                    <li>Simplified Angular Services - Part 1</li>
                    <li>Angular Pipes in Action - Part 2</li>
                    <li>Angular Directives in Action - Part 3</li>
                    <li>Angular Routing in Action - Part 4</li>
                    <li>Creating TypeScript Objects</li>
                    <li>Understanding package.json Characteristics</li>
                    <li>Exploring TypeScript Characteristics</li>
                    <li>Angular Component Creation</li>
                    <li>Simplified Angular Component Templates</li>
                    <li>Styling Angular Components</li>
                    <li>Data Binding Techniques in Angular</li>
                    <li>Elements of Angular Modules - Part 1</li>
                    <li>Elements of Angular Modules - Part 2</li>
                </ul>                
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="moduleHeading-2">
            <button class="accordion-button collapsed bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#moduleCollapse-2" aria-expanded="false" aria-controls="moduleCollapse-2">
              <i class="fa fa-arrow-right text-info me-2"></i> Intermediate Module
            </button>
          </h2>
          <div id="moduleCollapse-2" class="accordion-collapse collapse" aria-labelledby="moduleHeading-2" data-bs-parent="#accordionModules">
            <div class="accordion-body">
                <ul>
                    <li>Manual Angular Component Building</li>
                    <li>Angular Component Bootstrapping</li>
                    <li>Feature Modules in Angular</li>
                    <li>Shared Modules in Angular</li>
                    <li>Practical Array Export/Import in Angular</li>
                    <li>Logic with ngIf in Angular Components</li>
                    <li>Practical ngFor Array Iteration in Angular</li>
                    <li>Angular Pagination - Part 1</li>
                    <li>Angular Pagination - Part 2</li>
                    <li>Practical Angular List Data Sorting</li>
                    <li>Mastering Angular Built-in Pipes</li>
                    <li>Angular Custom Pipes</li>
                    <li>Simplified Data Filtering</li>
                    <li>Form Event Handling in Angular</li>
                </ul>                
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="moduleHeading-3">
            <button class="accordion-button collapsed bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#moduleCollapse-3" aria-expanded="false" aria-controls="moduleCollapse-3">
              <i class="fa fa-arrow-right text-info me-2"></i> Advanced Module
            </button>
          </h2>
          <div id="moduleCollapse-3" class="accordion-collapse collapse" aria-labelledby="moduleHeading-3" data-bs-parent="#accordionModules">
            <div class="accordion-body">
                <ul>
                    <li>Practical Two-Way Data Binding</li>
                    <li>Form Error Validation in Angular</li>
                    <li>Angular HTTP POST Requests</li>
                    <li>Simplified DELETE Requests</li>
                    <li>Smooth Migration to RxJS in Angular</li>
                    <li>Building Custom Operators</li>
                    <li>Efficient Error Handling</li>
                    <li>Mastering Observable Merging</li>
                    <li>Building Reactive Forms</li>
                    <li>Angular Authentication Explained</li>
                    <li>Optimizing Angular Apps</li>
                    <li>Angular Debugging and Testing</li>
                    <li>Deploying Angular Apps</li>
                    <li>Angular Unveiled</li>
                </ul>                                
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="moduleHeading-4">
            <button class="accordion-button collapsed bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#moduleCollapse-4" aria-expanded="false" aria-controls="moduleCollapse-4">
              <i class="fa fa-arrow-right text-info me-2"></i> Expert Module
            </button>
          </h2>
          <div id="moduleCollapse-4" class="accordion-collapse collapse" aria-labelledby="moduleHeading-4" data-bs-parent="#accordionModules">
            <div class="accordion-body">
                <ul>
                    <li>REST API and JWT in Action</li>
                    <li>Getting Started with Postman</li>
                    <li>Your Gateway to CRUD REST APIs</li>
                    <li>AngularJS vs. Angular</li>
                    <li>Framework Fundamentals</li>
                    <li>Upgrading to Angular 9</li>
                    <li>Power of Component-Based Architecture</li>
                    <li>A Deep Dive into Angular's Hooks</li>
                    <li>Harnessing @Input and @Output Decorators</li>
                    <li>Handling HTTP Methods with Ease</li>
                    <li>A Step-by-Step Installation Guide</li>
                    <li>Angular Capstone Project - Part 1</li>
                    <li>Angular Capstone Project - Part 2</li>
                    <li>Angular Capstone Project - Part 3</li>
                </ul>                                
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




<div class="container-xxl py-5">
  <div class="container">
    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
      <h6 class="section-title bg-white text-center text-info px-3">Benefits</h6>
      <h1 class="mb-5">After this Course, You will be Able to</h1>
    </div>
    <div class="col-lg-12">
        <p class="mb-4">Setup and deploy Angular to create scalable and robust web applications.</p>
        <p class="mb-4">Understand Angular’s architecture, components, modules, operators, and directives.</p>
        <p class="mb-4">Use templates and implement data binding, logical functions, and loop in Angular.</p>
        <p class="mb-4">Use forms, validate, authenticate, and authorize in an Angular application.</p>
        <p class="mb-4">Work with pipes, implement HTTP services, and read data from API using Angular.</p>
        <p class="mb-4">Debug, optimize, and test Angular applications.</p>
    </div>
  </div>
</div>


<div class="container-xxl py-5">
  <div class="container">
    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
      <h6 class="section-title bg-white text-center text-info px-3">FAQ</h6>
      <h1 class="mb-5">Frequently Asked Questions</h1>
    </div>
    <div class="col-lg-12">
      <div class="accordion" id="faqAccordion">
        <div class="accordion-item">
          <h2 class="accordion-header" id="faqHeadingOne">
            <button class="accordion-button bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapseOne" aria-expanded="true" aria-controls="faqCollapseOne">
                What is an Angular for Beginners course?
            </button>
          </h2>
          <div id="faqCollapseOne" class="accordion-collapse collapse show" aria-labelledby="faqHeadingOne" data-bs-parent="#faqAccordion">
            <div class="accordion-body">
                Angular for Beginners course is a specialized self-paced course offered by Greensoft Groups that Allows students to learn the basics of angular and advance to more complex and potent concepts that prepare them for jobs and a career in Angular web development with premium certifications.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="faqHeadingTwo">
            <button class="accordion-button collapsed bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapseTwo" aria-expanded="false" aria-controls="faqCollapseTwo">
                Why learn the Angular for Beginners course?
            </button>
          </h2>
          <div id="faqCollapseTwo" class="accordion-collapse collapse" aria-labelledby="faqHeadingTwo" data-bs-parent="#faqAccordion">
            <div class="accordion-body">
                Greensoft Groups’s Angular for Beginners premium course would allow you to learn AngularJS in a self-paced manner with premium certifications, from industry experts with tons of experience. Learn the basics of Angular from a beginner level and end up with a portfolio of quality Angular projects that give you a visible edge in job interviews and applications as you grow your skills to an advanced Angular developer.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="faqHeadingThree">
            <button class="accordion-button collapsed bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapseThree" aria-expanded="false" aria-controls="faqCollapseThree">
                Why choose Greensoft Groups for learning Angularjs for Beginners online courses?
            </button>
          </h2>
          <div id="faqCollapseThree" class="accordion-collapse collapse" aria-labelledby="faqHeadingThree" data-bs-parent="#faqAccordion">
            <div class="accordion-body">
                Greensoft Groups’s Angularjs for Beginners is a premium course that comes with premium benefits for a student looking to learn a new skill in their desired language at a very affordable price. The course is completely self-paced and allows you to learn from industry experts in their field while working on great projects that showcase your skills. Coupled with the premium certification provided by an IIT-Madras-backed company, Greensoft Groups's Angular for Beginners course is highly recommended for any tech graduate or early professional who wants to upgrade themselves for better opportunities as a full stack developer, back-end, or front-end developer.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="faqHeadingFour">
            <button class="accordion-button collapsed bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapseFour" aria-expanded="false" aria-controls="faqCollapseFour">
                What are the benefits of learning an Angular for Beginners certification course?
            </button>
          </h2>
          <div id="faqCollapseFour" class="accordion-collapse collapse" aria-labelledby="faqHeadingFour" data-bs-parent="#faqAccordion">
            <div class="accordion-body">
                There are numerous reasons to learn with an Angular for Beginners certification course from Greensoft Groups: Master Angular from a beginner to an expert level.Get a globally-recognized certification to help with job search and skill display. Create a premium portfolio of Angular projects. A comprehensive curriculum that covers in-depth angular tutorials from industry experts. Highly affordable price and you get to learn in your own language.
            </div>
          </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="faqHeadingFive">
              <button class="accordion-button collapsed bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapseFive" aria-expanded="false" aria-controls="faqCollapseFive">
                Is the Angular for Beginners course difficult to learn?
              </button>
            </h2>
            <div id="faqCollapseFive" class="accordion-collapse collapse" aria-labelledby="faqHeadingFive" data-bs-parent="#faqAccordion">
              <div class="accordion-body">
                Since the Angular for Beginners course is a course specially designed for inexperienced students, it’s not at all difficult to learn. You can easily learn from our specialized angular for beginners tutorials designed by experts to help you gain skills from beginner to advanced level, along with specialized projects to help you build a portfolio of skills and execute all that you’ve learned.
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>





{% endblock %}
