{% extends 'base.html' %}
{% load static %}

{% block title %}
    Contact - EvolveEcho Tech
{% endblock %}

{% block content %}

    <!-- Header Start -->
    <div class="container-fluid headerbg py-5 mb-5 page-header">
        <div class="container py-5">
            <div class="row justify-content-center">
                <div class="col-lg-10 text-center">
                    <h1 class="display-3 text-white animated slideInDown">Contact</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center">
                            <li class="breadcrumb-item"><a class="textcl" href="{% url 'index' %}"><b>Home</b></a></li>
                            <!-- <li class="breadcrumb-item"><a class="textcl" href="{% url 'signin' %}"><b>Sign In</b></a></li> -->
                            <li class="breadcrumb-item textcl active" aria-current="page"><b>Contact</b></li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->

    
    <!-- Contact Start -->
    <div class="container-xxl py-5 justify-content-center">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h6 class="section-title bg-white text-center text-info px-3">Contact Us</h6>
                <h1 class="mb-5">Contact For Any Query</h1>
            </div>
            <div class="row g-4">
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <h3>Get In Touch</h3>
                    <h6>Would you like to start a project with us?</h6>
                    <p class="mb-4">We handle complex business challenges, building all types of custom and platform-based solutions and providing a  comprehensive set of end-to-end IT Services and Solutions. Contact us for your Business queries..</p>
                    <div class="d-flex align-items-center mb-3">
                        <div class="d-flex align-items-center justify-content-center flex-shrink-0 bg-info" style="width: 50px; height: 50px;">
                            <i class="fa fa-map-marker-alt text-white"></i>
                        </div>
                        <div class="ms-3">
                            <h5 class="text-info">Office</h5>
                            <p class="mb-0">Ayilur Road, Agaram, Perambalur, Tamil Nadu, 621113</p>
                        </div>
                    </div>
                    <div class="d-flex align-items-center mb-3">
                        <div class="d-flex align-items-center justify-content-center flex-shrink-0 bg-info" style="width: 50px; height: 50px;">
                            <i class="fa fa-phone-alt text-white"></i>
                        </div>
                        <div class="ms-3">
                            <h5 class="text-info">Mobile</h5>
                            <p class="mb-0">+91 63836 85553</p>
                        </div>
                    </div>
                    <div class="d-flex align-items-center">
                        <div class="d-flex align-items-center justify-content-center flex-shrink-0 bg-info" style="width: 50px; height: 50px;">
                            <i class="fa fa-envelope-open text-white"></i>
                        </div>
                        <div class="ms-3">
                            <h5 class="text-info">Email</h5>
                            <p class="mb-0">evolveechotech@gmail.com</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <iframe class="position-relative rounded w-100 h-100" src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d1553.1861569660994!2d78.88396135958804!3d11.203624917270767!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMTHCsDEyJzEyLjEiTiA3OMKwNTMnMDUuNSJF!5e0!3m2!1sen!2sin!4v1728591744411!5m2!1sen!2sin" 
                    frameborder="0" style="min-height: 300px; border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                <div class="col-lg-4 col-md-12 wow fadeInUp" data-wow-delay="0.5s">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="row g-3">
                            {{ form.as_p }}
                            <div class="col-12">
                                <button class="btn btn-secondary w-100 py-3" type="submit">Send Message</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact End -->
{% endblock %}
