{% extends 'base.html' %}

{% load static %}

{% block title %}Course Details - Greensoft Groups{% endblock %}

{% block content %}
<div class="container-xxl py-5">
  <div class="container">
    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
      <h6 class="section-title bg-white text-center text-info px-3">Learn and Explore</h6>
      <h1 class="mb-5">Web Application Development with ASP.NET Core</h1>
    </div>
    <div class="col-lg-12">
        <p class="mb-4">This beginner-friendly course for Building RESTful APIs using ASP.NET CORE equips you with the skills needed to design and build truly RESTful APIs which are inherently different from regular web APIs. It has been designed and taught by industry experts that will provide you with hands-on experience in working with REST API. You will learn how to prepare models and dummy data with JSON, documentation using Open API, ADO.NET, and the Entity Framework core.</p>
        <a class="btn btn-secondary py-3 px-5 mt-2" href="{% url 'course_registration' %}">Join Now</a>
    </div>
  </div>
</div>

<div class="container-xxl py-5">
  <div class="container">
    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
      <h6 class="section-title bg-white text-center text-info px-3">Certificates</h6>
      <h1 class="mb-5">Build your Support and Operations expertise</h1>
    </div>
    <div class="row g-5">
      <div class="col-lg-6">
        <h5 class="mt-4">Learn new concepts from industry experts</h5>
        <h5 class="mt-4">Gain a foundational understanding of a subject or tool</h5>
        <h5 class="mt-4">Develop job-relevant skills with hands-on projects</h5>
        <h5 class="mt-4">Earn a shareable career certificate from Google</h5>
      </div>
      <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
        <div class="position-relative h-100">
            <img class="img-fluid position-absolute w-100 h-100" src="https://i.postimg.cc/FFBHrQ3n/a7c5400e51272c78b710ce9b56fd3178.avif" alt="" style="object-fit: cover;">
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container-xxl py-5">
  <div class="container">
    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
      <h6 class="section-title bg-white text-center text-info px-3">Certificates</h6>
      <h1 class="mb-5">Earn a career certificate</h1>
    </div>
    <div class="row g-5">
      <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
        <div class="position-relative h-100">
            <img class="img-fluid position-absolute w-100 h-100" src="https://i.postimg.cc/C1XBggRB/certificate.avif" alt="" style="object-fit: cover;">
        </div>
      </div>
      <div class="col-lg-6">
        <p class="mb-4">Add this credential to your LinkedIn profile, resume, or CV</p>
        <p class="mb-4">Share it on social media and in your performance review</p>
        <p class="mb-4">Certificates are globally recognized & they upgrade your programming profile.</p>
        <p class="mb-4">Certificates are generated after the completion of the course.</p>
        <h6 class="mb-4">Details to know</h6>
        <i class="fab fa-linkedin-in text-primary"></i>
        <p class="mb-4">Shareable certificate</p>
      </div>
    </div>
  </div>
</div>


<div class="container-xxl py-5">
  <div class="container">
    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
      <h6 class="section-title bg-white text-center text-info px-3">ASP.NET Paid Course</h6>
      <h1 class="mb-5">There are 3 modules in this course</h1>
    </div>
    <div class="col-lg-12">
        <p class="mb-4">Welcome to our paid ASP.NET course! This course covers advanced Python concepts.</p>
        <a class="btn btn-secondary py-3 px-5 mt-2 mb-4" href="{% url 'course_registration' %}">Join Now</a>
        <p class="mb-4">Unlock the world of web application development with our 'Web Application Development with ASP.NET Core' course. In the 'Introduction to ASP.NET Core' module, you'll grasp the fundamentals of ASP.NET Core architecture. Next, in 'Building Web APIs,' you'll master the art of creating powerful API services. 'Working with Entity Framework Core' will equip you with database management skills, and 'Authentication and Authorization' will empower you to secure your applications. Harness the potential of ASP.NET Core to build modern, responsive, and secure web applications. </p>
    </div>
  </div>
</div>


<div class="container-xxl py-5">
  <div class="container">
    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
      <h6 class="section-title bg-white text-center text-info px-3">Topics Covered</h6>
      <h1 class="mb-5">ASP.NET Course Topics You will Learn</h1>
    </div>
    <div class="col-lg-12">
      <div class="accordion" id="accordionModules">
        <div class="accordion-item">
          <h2 class="accordion-header" id="moduleHeading-1">
            <button class="accordion-button bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#moduleCollapse-1" aria-expanded="true" aria-controls="moduleCollapse-1">
              <i class="fa fa-arrow-right text-info me-2"></i> Beginner Module
            </button>
          </h2>
          <div id="moduleCollapse-1" class="accordion-collapse collapse show" aria-labelledby="moduleHeading-1" data-bs-parent="#accordionModules">
            <div class="accordion-body">
                <ul>
                    <li>Introduction to REST API</li>
                    <li>Building First ASP.NET Core REST API</li>
                    <li>Project/Use Case Overview</li>
                    <li>Introduction to JSON</li>
                    <li>Preparing Models and Dummy Data - Part 1</li>
                    <li>Preparing Models and Dummy Data - Part 2</li>
                    <li>Implementing REST API (Use Case) - Part 1</li>
                    <li>Implementing REST API (Use Case) - Part 2</li>
                </ul>                
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="moduleHeading-2">
            <button class="accordion-button collapsed bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#moduleCollapse-2" aria-expanded="false" aria-controls="moduleCollapse-2">
              <i class="fa fa-arrow-right text-info me-2"></i> Intermediate Module
            </button>
          </h2>
          <div id="moduleCollapse-2" class="accordion-collapse collapse" aria-labelledby="moduleHeading-2" data-bs-parent="#accordionModules">
            <div class="accordion-body">
                <ul>
                    <li>Documenting REST API using Open API</li>
                    <li>ADO.NET</li>
                    <li>Entity Framework Core - Part 1</li>
                    <li>Entity Framework Core - Part 2</li>
                </ul>                
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="moduleHeading-3">
            <button class="accordion-button collapsed bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#moduleCollapse-3" aria-expanded="false" aria-controls="moduleCollapse-3">
              <i class="fa fa-arrow-right text-info me-2"></i> Advanced Module
            </button>
          </h2>
          <div id="moduleCollapse-3" class="accordion-collapse collapse" aria-labelledby="moduleHeading-3" data-bs-parent="#accordionModules">
            <div class="accordion-body">
                <ul>
                    <li>Migrating Database with Existing Models</li>
                    <li>Replacing Dummy Data with Database - Part 1</li>
                    <li>Replacing Dummy Data with Database - Part 2</li>
                    <li>Deploying REST API to IIS Server</li>
                    <li>Final Project Overview</li>
                    <li>Consumption of REST API (Mobile Application)</li>
                </ul>                               
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




<div class="container-xxl py-5">
  <div class="container">
    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
      <h6 class="section-title bg-white text-center text-info px-3">Benefits</h6>
      <h1 class="mb-5">After this Course, You will be Able to</h1>
    </div>
    <div class="col-lg-12">
        <p class="mb-4">Create and manipulate lists, tuples, and dictionaries to store and retrieve data.</p>
        <p class="mb-4">Write conditional statements and loops to automate tasks and solve problems.</p>
        <p class="mb-4">Debug errors in your Python code using tools like breakpoints, watch variables, and step-in/step-out.</p>
        <p class="mb-4">Understand how to use external libraries and APIs to extend Python's functionality.</p>
        <p class="mb-4">Read and write data from/to different file formats like Excel, JSON, and MySQL.</p>
        <p class="mb-4">Create and use functions to encapsulate and reuse code for repetitive tasks, improving code readability and maintenance.</p>
    </div>
  </div>
</div>


<div class="container-xxl py-5">
  <div class="container">
    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
      <h6 class="section-title bg-white text-center text-info px-3">FAQ</h6>
      <h1 class="mb-5">Frequently Asked Questions</h1>
    </div>
    <div class="col-lg-12">
      <div class="accordion" id="faqAccordion">
        <div class="accordion-item">
          <h2 class="accordion-header" id="faqHeadingOne">
            <button class="accordion-button bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapseOne" aria-expanded="true" aria-controls="faqCollapseOne">
                What is a Python course?
            </button>
          </h2>
          <div id="faqCollapseOne" class="accordion-collapse collapse show" aria-labelledby="faqHeadingOne" data-bs-parent="#faqAccordion">
            <div class="accordion-body">
                A Python course is a structured program that teaches individuals how to write, read, and understand code in the Python programming language. The course covers various topics, including basic programming concepts, data types, control structures, and functions.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="faqHeadingTwo">
            <button class="accordion-button collapsed bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapseTwo" aria-expanded="false" aria-controls="faqCollapseTwo">
                Which is the best online Python course?
            </button>
          </h2>
          <div id="faqCollapseTwo" class="accordion-collapse collapse" aria-labelledby="faqHeadingTwo" data-bs-parent="#faqAccordion">
            <div class="accordion-body">
                The best online Python course is one that matches your learning goals, experience level, and preferred learning style. At Greensoft Groups, our Python course is designed for beginners with no prior coding experience, making it a great choice for those looking to start their Python journey. You can access the complete course modules for FREE.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="faqHeadingThree">
            <button class="accordion-button collapsed bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapseThree" aria-expanded="false" aria-controls="faqCollapseThree">
                How to learn a Python course?
            </button>
          </h2>
          <div id="faqCollapseThree" class="accordion-collapse collapse" aria-labelledby="faqHeadingThree" data-bs-parent="#faqAccordion">
            <div class="accordion-body">
                To learn a Python course, enroll in an online program like Greensoft Groups's self-paced free Python course, which provides interactive lessons, quizzes, and assignments. You can also find resources like Python documentation, books, and video tutorials to supplement your learning.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="faqHeadingFour">
            <button class="accordion-button collapsed bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapseFour" aria-expanded="false" aria-controls="faqCollapseFour">
                Why learn Python courses online?
            </button>
          </h2>
          <div id="faqCollapseFour" class="accordion-collapse collapse" aria-labelledby="faqHeadingFour" data-bs-parent="#faqAccordion">
            <div class="accordion-body">
                Learning Python courses online allows you to access high-quality educational resources from anywhere in the world, at any time that suits you. Online courses also tend to be more affordable than traditional classroom-based programs and offer flexible learning options to fit your schedule.
            </div>
          </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="faqHeadingFive">
              <button class="accordion-button collapsed bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapseFive" aria-expanded="false" aria-controls="faqCollapseFive">
                What are the benefits of learning Python from Greensoft Groups?
              </button>
            </h2>
            <div id="faqCollapseFive" class="accordion-collapse collapse" aria-labelledby="faqHeadingFive" data-bs-parent="#faqAccordion">
              <div class="accordion-body">
                Learning Python from Greensoft Groups provides several benefits, including:
                <ul>
                    <li>Beginner-friendly curriculum designed for those with no prior coding experience</li>
                    <li>Self-paced program with interactive lessons, quizzes, and assignments</li>
                    <li>IIT-M certification upon completion to showcase on your resume</li>
                    <li>FREE access to complete course modules, pay a nominal fee for IITM Pravartak certified Python certification</li>
                    <li>Access to an online community for support and networking opportunities</li>
                    <li>Affordable pricing and flexible learning options</li>
                </ul>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>





{% endblock %}
