{% extends 'base.html' %}

{% load static %}

{% block title %}Course Details - Greensoft Groups{% endblock %}

{% block content %}
<div class="container-xxl py-5">
  <div class="container">
    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
      <h6 class="section-title bg-white text-center text-info px-3">Learn and Explore</h6>
      <h1 class="mb-5">Learn JavaScript</h1>
    </div>
    <div class="col-lg-12">
        <p class="mb-4">Learn all the core concepts of programming with JavaScript and how you can build highly interactive web pages with this JavaScript course that has been designed and taught by industry experts with heaps of technical experience. Throughout this course, you will learn concepts such as the working of JavaScript and its many benefits, Variables, Objects, Operators, and Functions, as well as advanced topics like Closures, Hoisting, and Classes to name a few. You will also learn concepts pertaining to the latest update of ES6. After this course, you will have built various real-time projects which will help you create an attractive portfolio to showcase your skills in front of future employers. Addedly, you will be awarded a globally recognized, job-ready certificate that will provide an edge to your resume.</p>
        <a class="btn btn-secondary py-3 px-5 mt-2" href="{% url 'course_registration' %}">Join Now</a>
    </div>
  </div>
</div>

<div class="container-xxl py-5">
  <div class="container">
    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
      <h6 class="section-title bg-white text-center text-info px-3">Certificates</h6>
      <h1 class="mb-5">Build your Support and Operations expertise</h1>
    </div>
    <div class="row g-5">
      <div class="col-lg-6">
        <h5 class="mt-4">Learn new concepts from industry experts</h5>
        <h5 class="mt-4">Gain a foundational understanding of a subject or tool</h5>
        <h5 class="mt-4">Develop job-relevant skills with hands-on projects</h5>
        <h5 class="mt-4">Earn a shareable career certificate</h5>
      </div>
      <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
        <div class="position-relative h-100">
            <img class="img-fluid position-absolute w-100 h-100" src="https://i.postimg.cc/FFBHrQ3n/a7c5400e51272c78b710ce9b56fd3178.avif" alt="" style="object-fit: cover;">
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container-xxl py-5">
  <div class="container">
    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
      <h6 class="section-title bg-white text-center text-info px-3">Certificates</h6>
      <h1 class="mb-5">Earn a career certificate</h1>
    </div>
    <div class="row g-5">
      <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
        <div class="position-relative h-100">
            <img class="img-fluid position-absolute w-100 h-100" src="https://i.postimg.cc/C1XBggRB/certificate.avif" alt="" style="object-fit: cover;">
        </div>
      </div>
      <div class="col-lg-6">
        <p class="mb-4">Add this credential to your LinkedIn profile, resume, or CV</p>
        <p class="mb-4">Share it on social media and in your performance review</p>
        <p class="mb-4">Certificates are globally recognized & they upgrade your programming profile.</p>
        <p class="mb-4">Certificates are generated after the completion of the course.</p>
        <h6 class="mb-4">Details to know</h6>
        <i class="fab fa-linkedin-in text-primary"></i>
        <p class="mb-4">Shareable certificate</p>
      </div>
    </div>
  </div>
</div>


<div class="container-xxl py-5">
  <div class="container">
    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
      <h6 class="section-title bg-white text-center text-info px-3">JavaScript Paid Course</h6>
      <h1 class="mb-5">There are 5 modules in this course</h1>
    </div>
    <div class="col-lg-12">
        <p class="mb-4">Welcome to our paid JavaScript course! This course covers advanced Python concepts.</p>
        <a class="btn btn-secondary py-3 px-5 mt-2 mb-4" href="{% url 'course_registration' %}">Join Now</a>
        <p class="mb-4">This is perhaps the most interactive JavaScript course ever recorded. It contains 140+ coding challenges, meaning that you will finally build that ever-so-important JavaScript muscle memory. You will solve the challenges directly in the browser thanks to Scrimba's interactive video technology, so there's not setup needed. </p>
        <h6 class="mb-4">Say goodbye to "tutorial hell" and get ready to start feeling your JavaScript superpowers grow exponentially.</h6>
        <p class="mb-4">Another unique thing with this course is that you will build projects from the very start. Instead of long and boring theoretical lessons, you will dive head-first into building products and solving challenges. At the end of the course, you will have built a game, a Chrome extension, and even a mobile app the uses Google Firebase to persist data.</p>
        <p class="mb-4">This is learning by doing on steroids.</p>
    </div>
  </div>
</div>


<div class="container-xxl py-5">
  <div class="container">
    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
      <h6 class="section-title bg-white text-center text-info px-3">Topics Covered</h6>
      <h1 class="mb-5">Python Course Topics You will Learn</h1>
    </div>
    <div class="col-lg-12">
      <div class="accordion" id="accordionModules">
        <div class="accordion-item">
          <h2 class="accordion-header" id="moduleHeading-1">
            <button class="accordion-button bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#moduleCollapse-1" aria-expanded="true" aria-controls="moduleCollapse-1">
              <i class="fa fa-arrow-right text-info me-2"></i> Beginner Module
            </button>
          </h2>
          <div id="moduleCollapse-1" class="accordion-collapse collapse show" aria-labelledby="moduleHeading-1" data-bs-parent="#accordionModules">
            <div class="accordion-body">
                <ul>
                    <li>JavaScript - Introduction</li>
                    <li>HELLO WORLD in JavaScript</li>
                    <li>Basics of JavaScript</li>
                    <li>External JavaScript</li>
                    <li>JavaScript Logical Operators</li>
                </ul>                
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="moduleHeading-2">
            <button class="accordion-button collapsed bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#moduleCollapse-2" aria-expanded="false" aria-controls="moduleCollapse-2">
              <i class="fa fa-arrow-right text-info me-2"></i> Intermediate Module
            </button>
          </h2>
          <div id="moduleCollapse-2" class="accordion-collapse collapse" aria-labelledby="moduleHeading-2" data-bs-parent="#accordionModules">
            <div class="accordion-body">
                <ul>
                    <li>JavaScript Comparison Operators</li>
                    <li>JavaScript Increment Operator</li>
                    <li>JavaScript Number and String Concatenation</li>
                    <li>Loops and Iteration</li>
                    <li>JavaScript Break and Continue</li>
                    <li>Reserved Words</li>
                </ul>                
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="moduleHeading-3">
            <button class="accordion-button collapsed bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#moduleCollapse-3" aria-expanded="false" aria-controls="moduleCollapse-3">
              <i class="fa fa-arrow-right text-info me-2"></i> Advanced Module
            </button>
          </h2>
          <div id="moduleCollapse-3" class="accordion-collapse collapse" aria-labelledby="moduleHeading-3" data-bs-parent="#accordionModules">
            <div class="accordion-body">
                <ul>
                    <li>Javascript Arrays</li>
                    <li>Javascript Functions</li>
                    <li>Javascript Objects</li>
                    <li>Extending Javascript Objects</li>
                    <li>Anonymous Functions</li>
                    <li>Javascript typeof Keyword</li>
                </ul>                                
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




<div class="container-xxl py-5">
  <div class="container">
    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
      <h6 class="section-title bg-white text-center text-info px-3">Benefits</h6>
      <h1 class="mb-5">After this Course, You will be Able to</h1>
    </div>
    <div class="col-lg-12">
        <p class="mb-4">Have a strong grasp of core JavaScript fundamentals.</p>
        <p class="mb-4">Write professional JavaScript code like a pro.</p>
        <p class="mb-4">Build interactive JavaScript web pages and applications with the help of our real-world projects.</p>
        <p class="mb-4">Be up-to-date with the latest JavaScript concepts introduced in ES6.</p>
        <p class="mb-4">Master advanced JavaScript concepts such as Hoisting, Function Expressions, Classes, and more.</p>
        <p class="mb-4">Crack JavaScript coding interviews with ease.</p>
    </div>
  </div>
</div>


<div class="container-xxl py-5">
  <div class="container">
    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
      <h6 class="section-title bg-white text-center text-info px-3">FAQ</h6>
      <h1 class="mb-5">Frequently Asked Questions</h1>
    </div>
    <div class="col-lg-12">
      <div class="accordion" id="faqAccordion">
        <div class="accordion-item">
          <h2 class="accordion-header" id="faqHeadingOne">
            <button class="accordion-button bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapseOne" aria-expanded="true" aria-controls="faqCollapseOne">
                What is javascript?
            </button>
          </h2>
          <div id="faqCollapseOne" class="accordion-collapse collapse show" aria-labelledby="faqHeadingOne" data-bs-parent="#faqAccordion">
            <div class="accordion-body">
                JavaScript is a scripting language that is widely used by programmers all around the world to create dynamic and interactive software applications, browsers, and much more. It is extensively used as a client-side programming language by almost 97% of all websites on the web and is deemed to be the most used programming language in the world. It is so popular as it allows you to build dynamically updating content, animate images, control multimedia, and pretty much everything you’d want your website to do.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="faqHeadingTwo">
            <button class="accordion-button collapsed bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapseTwo" aria-expanded="false" aria-controls="faqCollapseTwo">
                What is javascript used for?
            </button>
          </h2>
          <div id="faqCollapseTwo" class="accordion-collapse collapse" aria-labelledby="faqHeadingTwo" data-bs-parent="#faqAccordion">
            <div class="accordion-body">
                JavaScript is a very popular programming language used for creating dynamic and interactive software applications. Using JavaScript you can increase the user interactivity of web pages, create mobile applications, build web servers and server applications, build and deploy games and so much more.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="faqHeadingThree">
            <button class="accordion-button collapsed bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapseThree" aria-expanded="false" aria-controls="faqCollapseThree">
                Can I learn JavaScript in 6 months?
            </button>
          </h2>
          <div id="faqCollapseThree" class="accordion-collapse collapse" aria-labelledby="faqHeadingThree" data-bs-parent="#faqAccordion">
            <div class="accordion-body">
                Yes, it is very much possible to learn JavaScript in Tamil within 6 months but you will need to have extreme dedication and complete focus on learning. The resources you use must be precise and up to date with the latest advancements just like this JavaScript course by Greensoft Groups that has been curated by industry experts with years of experience in the tech world. You can begin your learning here and then continue to spend your career garnering new skills and keep improving.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="faqHeadingFour">
            <button class="accordion-button collapsed bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapseFour" aria-expanded="false" aria-controls="faqCollapseFour">
                Is Javascript easy to learn?
            </button>
          </h2>
          <div id="faqCollapseFour" class="accordion-collapse collapse" aria-labelledby="faqHeadingFour" data-bs-parent="#faqAccordion">
            <div class="accordion-body">
                Quite frankly, JavaScript is considered to be one of the easiest programming languages to learn and code in, hence it is a wonderful first option for people that are completely new to the coding world. Even complex lines of code in JavaScript can be written in fragments, making learning and coding much simpler as compared to other languages. As a result, given that you dedicatedly learn and practice, Java Script can be grasped easily.
            </div>
          </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="faqHeadingFive">
              <button class="accordion-button collapsed bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapseFive" aria-expanded="false" aria-controls="faqCollapseFive">
                What Kinds Of Jobs Can You Get With JavaScript Skills?
              </button>
            </h2>
            <div id="faqCollapseFive" class="accordion-collapse collapse" aria-labelledby="faqHeadingFive" data-bs-parent="#faqAccordion">
              <div class="accordion-body">
                JavaScript opens the door to many in-demand tech jobs that can bring about cascading changes in your career. Some of these highly sought-after opportunities include Front-end web development, web development, mobile application development, Full Stack development (along with gaining some more knowledge), JavaScript developer, website administration, security engineering and so much more.
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>





{% endblock %}
