{% extends 'base.html' %}

{% load static %}

{% block title %}Course Details - Greensoft Groups{% endblock %}

{% block content %}
<div class="container-xxl py-5">
  <div class="container">
    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
      <h6 class="section-title bg-white text-center text-info px-3">Learn and Explore</h6>
      <h1 class="mb-5">Learning MEAN Stack by Building Real world Application Specialization</h1>
    </div>
    <div class="col-lg-12">
        <p class="mb-4">This MEAN Full Stack Developer course is your key to unlocking the vast world of full-stack development. It covers an expansive syllabus starting from the basics like HTML, CSS, and JavaScript, moving towards advanced modules including MongoDB, Express.js, Angular.js, and Node.js. In effect, you'll be equipped to develop dynamic, responsive web applications from scratch. Beyond the basics, you'll dive into the heart of MEAN Stack, learning how to create database schemas with MongoDB, build APIs with Express.js, design front-end applications with Angular.js, and manage run-time environments with Node.js. This holistic curriculum, structured and designed by vetted experts, will empower you to become a proficient MEAN Stack Developer.</p>
        <a class="btn btn-secondary py-3 px-5 mt-2" href="{% url 'course_registration' %}">Join Now</a>
    </div>
  </div>
</div>

<div class="container-xxl py-5">
  <div class="container">
    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
      <h6 class="section-title bg-white text-center text-info px-3">Certificates</h6>
      <h1 class="mb-5">Advance your subject-matter expertise</h1>
    </div>
    <div class="row g-5">
      <div class="col-lg-6">
        <h5 class="mt-4">Learn in-demand skills from university and industry experts</h5>
        <h5 class="mt-4">Master a subject or tool with hands-on projects</h5>
        <h5 class="mt-4">Develop a deep understanding of key concepts</h5>
        <h5 class="mt-4">Earn a career certificate</h5>
      </div>
      <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
        <div class="position-relative h-100">
            <img class="img-fluid position-absolute w-100 h-100" src="https://i.postimg.cc/FFBHrQ3n/a7c5400e51272c78b710ce9b56fd3178.avif" alt="" style="object-fit: cover;">
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container-xxl py-5">
  <div class="container">
    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
      <h6 class="section-title bg-white text-center text-info px-3">Certificates</h6>
      <h1 class="mb-5">Earn a career certificate</h1>
    </div>
    <div class="row g-5">
      <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
        <div class="position-relative h-100">
            <img class="img-fluid position-absolute w-100 h-100" src="https://i.postimg.cc/C1XBggRB/certificate.avif" alt="" style="object-fit: cover;">
        </div>
      </div>
      <div class="col-lg-6">
        <p class="mb-4">Add this credential to your LinkedIn profile, resume, or CV</p>
        <p class="mb-4">Share it on social media and in your performance review</p>
        <p class="mb-4">Certificates are globally recognized & they upgrade your programming profile.</p>
        <p class="mb-4">Certificates are generated after the completion of the course.</p>
        <h6 class="mb-4">Details to know</h6>
        <i class="fab fa-linkedin-in text-primary"></i>
        <p class="mb-4">Shareable certificate</p>
      </div>
    </div>
  </div>
</div>


<div class="container-xxl py-5">
  <div class="container">
    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
      <h6 class="section-title bg-white text-center text-info px-3">MEAN Stack Paid Course</h6>
      <h1 class="mb-5">There are 3 modules in this course</h1>
    </div>
    <div class="col-lg-12">
        <p class="mb-4">In this hands-on specialization, you'll learn to build interactive, scalable, and fast web applications using the MEAN stack. It consists of three comprehensive courses: </p>
        <a class="btn btn-secondary py-3 px-5 mt-2 mb-4" href="{% url 'course_registration' %}">Join Now</a>
        <p class="mb-4"><b>1. Frontend Development using Angular:</b>Master Angular to create responsive user interfaces for web applications. You'll become proficient in:
            <ul>
                <li>Fundamentals of HTML, CSS, and JavaScript Programming</li>
                <li>Developing Web Pages Using Angular's Core Features, Including Components, Directives, and Services</li>
                <li>Building Robust and Scalable Web Applications Using Angular's Best Practices and Design Patterns</li>
            </ul>            
        </p>
        <p class="mb-4"><b>2. Building RESTful APIs with Node.js and Express:</b>Equip yourself with the ability to build RESTful APIs using Node.js and Express. You'll be skilled in:
            <ul>
                <li>Basics of Node.js and Express, Including the Event Loop and Non-Blocking I/O Model</li>
                <li>Working with MongoDB and Handling CRUD Operations</li>
                <li>Advanced Node.js and Express Concepts Such as Asynchronous Programming, Error Handling, and Security</li>
            </ul>                        
        </p>
        <p class="mb-4"><b>3. Building a Complete MEAN Stack Application:</b> Learn how to develop a full-stack web application from scratch using the MEAN stack. You'll gain expertise in:
            <ul>
                <li>Constructing a RESTful API using Node.js and Express, with Security Features</li>
                <li>Developing a SPA using Angular, with Routing and Real-Time Updates</li>
                <li>Integrating Back-end and Front-end, and Deploying the Application to Production</li>
            </ul>                        
        </p>
        <p class="mb-4">By the end, you'll be ready to build MEAN stack web applications capable of handling large traffic and complex data.</p>
        <h6 class="mb-4">Applied Learning Project</h6>
        <p class="mb-4">We differentiate ourselves from other training programs available by focusing on hands-on learning, real-world scenarios, and practical applications. Our specialization offers a unique learning experience that provides learners with the skills and knowledge needed to develop robust MEAN Stack applications.</p>
    </div>
  </div>
</div>


<div class="container-xxl py-5">
  <div class="container">
    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
      <h6 class="section-title bg-white text-center text-info px-3">Topics Covered</h6>
      <h1 class="mb-5">MEAN Stack Course Topics You will Learn</h1>
    </div>
    <div class="col-lg-12">
      <div class="accordion" id="accordionModules">
        <div class="accordion-item">
          <h2 class="accordion-header" id="moduleHeading-1">
            <button class="accordion-button bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#moduleCollapse-1" aria-expanded="true" aria-controls="moduleCollapse-1">
              <i class="fa fa-arrow-right text-info me-2"></i> Beginner Module
            </button>
          </h2>
          <div id="moduleCollapse-1" class="accordion-collapse collapse show" aria-labelledby="moduleHeading-1" data-bs-parent="#accordionModules">
            <div class="accordion-body">
                <ul>
                    <li>Introduction to Web Development, Understanding Web Development Basics and Introduction to HTML, CSS, and JavaScript</li>
                    <li>Introduction to HTML</li>
                    <li>Introduction to CSS</li>
                    <li>JavaScript Fundamentals</li>
                    <li>Introduction to MEAN Stack</li>
                    <li>Node.js</li>
                    <li>Express.js</li>
                    <li>MongoDB</li>
                    <li>Mongoose and Connecting MongoDB with Node.js</li>
                    <li>Express.js and Request Handling</li>
                </ul>                
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="moduleHeading-2">
            <button class="accordion-button collapsed bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#moduleCollapse-2" aria-expanded="false" aria-controls="moduleCollapse-2">
              <i class="fa fa-arrow-right text-info me-2"></i> Intermediate Module
            </button>
          </h2>
          <div id="moduleCollapse-2" class="accordion-collapse collapse" aria-labelledby="moduleHeading-2" data-bs-parent="#accordionModules">
            <div class="accordion-body">
                <ul>
                    <li>Body Parser</li>
                    <li>Middleware</li>
                    <li>Angular JS Introduction</li>
                    <li>Angular JS Data Binding</li>
                    <li>Angular JS Mini Project</li>
                </ul>                
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="moduleHeading-3">
            <button class="accordion-button collapsed bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#moduleCollapse-3" aria-expanded="false" aria-controls="moduleCollapse-3">
              <i class="fa fa-arrow-right text-info me-2"></i> Advanced Module
            </button>
          </h2>
          <div id="moduleCollapse-3" class="accordion-collapse collapse" aria-labelledby="moduleHeading-3" data-bs-parent="#accordionModules">
            <div class="accordion-body">
                <ul>
                    <li>MEAN Stack Project Backend - Part 1</li>
                    <li>MEAN Stack Project Backend - Part 2</li>
                    <li>MEAN Stack Project Frontend - Part 1</li>
                    <li>MEAN Stack Project Frontend - Part 2</li>
                </ul>                                
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




<div class="container-xxl py-5">
  <div class="container">
    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
      <h6 class="section-title bg-white text-center text-info px-3">Benefits</h6>
      <h1 class="mb-5">After this Course, You will be Able to</h1>
    </div>
    <div class="col-lg-12">
        <p class="mb-4">Develop dynamic, responsive web applications using the MEAN Stack.</p>
        <p class="mb-4">Efficiently use MongoDB for database management in web applications.</p>
        <p class="mb-4">Implement Express.js and Node.js for server-side programming.</p>
        <p class="mb-4">Utilize Angular.js for effective client-side scripting.</p>
        <p class="mb-4">Build and manage APIs for web and mobile applications.</p>
        <p class="mb-4">Troubleshoot and improve web applications using modern tools.</p>
    </div>
  </div>
</div>


<div class="container-xxl py-5">
  <div class="container">
    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
      <h6 class="section-title bg-white text-center text-info px-3">FAQ</h6>
      <h1 class="mb-5">Frequently Asked Questions</h1>
    </div>
    <div class="col-lg-12">
      <div class="accordion" id="faqAccordion">
        <div class="accordion-item">
          <h2 class="accordion-header" id="faqHeadingOne">
            <button class="accordion-button bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapseOne" aria-expanded="true" aria-controls="faqCollapseOne">
                What is the overview of GUVI’s MEAN stack certification course?
            </button>
          </h2>
          <div id="faqCollapseOne" class="accordion-collapse collapse show" aria-labelledby="faqHeadingOne" data-bs-parent="#faqAccordion">
            <div class="accordion-body">
                GUVI's MEAN Stack certification course is a comprehensive program designed to provide students with in-depth knowledge of JavaScript-based technologies like MongoDB, Express.js, AngularJS, and Node.js. It includes guided lessons, practical assignments, and real-world projects to ensure skill development.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="faqHeadingTwo">
            <button class="accordion-button collapsed bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapseTwo" aria-expanded="false" aria-controls="faqCollapseTwo">
                Why learn the MEAN stack course?
            </button>
          </h2>
          <div id="faqCollapseTwo" class="accordion-collapse collapse" aria-labelledby="faqHeadingTwo" data-bs-parent="#faqAccordion">
            <div class="accordion-body">
                Learning the MEAN Stack course offers a complete understanding of front-end and back-end development, making you a full-stack developer. The stack's applications are fast, robust, and maintainable, making it a highly sought-after skill in the current job market.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="faqHeadingThree">
            <button class="accordion-button collapsed bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapseThree" aria-expanded="false" aria-controls="faqCollapseThree">
                Why choose GUVI for learning MEAN stack course?
            </button>
          </h2>
          <div id="faqCollapseThree" class="accordion-collapse collapse" aria-labelledby="faqHeadingThree" data-bs-parent="#faqAccordion">
            <div class="accordion-body">
                GUVI is known for its industry-aligned curriculum, experienced faculty, and interactive learning environment. This is one of the best MEAN Stack courses available online, that provides hands-on experience with real-world projects, enhancing your practical skills and employability.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="faqHeadingFour">
            <button class="accordion-button collapsed bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapseFour" aria-expanded="false" aria-controls="faqCollapseFour">
                What are the benefits of earning MEAN stack course certification?
            </button>
          </h2>
          <div id="faqCollapseFour" class="accordion-collapse collapse" aria-labelledby="faqHeadingFour" data-bs-parent="#faqAccordion">
            <div class="accordion-body">
                Earning one of the best MEAN Stack developer course certification enhances your credibility and employability as a full-stack developer. It validates your skills and knowledge, making you stand out in the competitive job market. It also opens up opportunities for higher positions and salary packages.
            </div>
          </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="faqHeadingFive">
              <button class="accordion-button collapsed bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapseFive" aria-expanded="false" aria-controls="faqCollapseFive">
                Is the MEAN stack course difficult to learn?
              </button>
            </h2>
            <div id="faqCollapseFive" class="accordion-collapse collapse" aria-labelledby="faqHeadingFive" data-bs-parent="#faqAccordion">
              <div class="accordion-body">
                The difficulty of the MEAN Stack course depends on your existing knowledge of JavaScript and web development. While it can be challenging for beginners, with proper guidance and consistent practice, it can be mastered effectively.
              </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="faqHeadingSix">
              <button class="accordion-button collapsed bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapseSix" aria-expanded="false" aria-controls="faqCollapseSix">
                Is the MEAN stack course difficult to learn?
              </button>
            </h2>
            <div id="faqCollapseSix" class="accordion-collapse collapse" aria-labelledby="faqHeadingSix" data-bs-parent="#faqAccordion">
              <div class="accordion-body">
                The difficulty of the MEAN Stack course depends on your existing knowledge of JavaScript and web development. While it can be challenging for beginners, with proper guidance and consistent practice, it can be mastered effectively.
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>





{% endblock %}
