{% extends 'base.html' %}

{% load static %}

{% block title %}Course Details - Greensoft Groups{% endblock %}

{% block content %}
<div class="container-xxl py-5">
  <div class="container">
    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
      <h6 class="section-title bg-white text-center text-info px-3">Learn and Explore</h6>
      <h1 class="mb-5">Learn React Js</h1>
    </div>
    <div class="col-lg-12">
        <p class="mb-4">Get to gain a solid foundation in modern web development. With the in-depth course modules, you’ll learn ReactJS from scratch and build a strong understanding of its core concepts. Also, master the art of creating reusable and interactive React components using props. Our course will help you understand the inner workings of the Virtual DOM and the keys for efficient rendering. Dive deep into the advanced concepts that let you harness the power of React Hooks, States for state management. Explore the useEffect Hook and Component Lifecycle for dynamic functionality. Become a valuable asset in the dynamic field of web development.</p>
        <a class="btn btn-secondary py-3 px-5 mt-2" href="{% url 'course_registration' %}">Join Now</a>
    </div>
  </div>
</div>

<div class="container-xxl py-5">
  <div class="container">
    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
      <h6 class="section-title bg-white text-center text-info px-3">Certificates</h6>
      <h1 class="mb-5">Build your Support and Operations expertise</h1>
    </div>
    <div class="row g-5">
      <div class="col-lg-6">
        <h5 class="mt-4">Learn new concepts from industry experts</h5>
        <h5 class="mt-4">Gain a foundational understanding of a subject or tool</h5>
        <h5 class="mt-4">Develop job-relevant skills with hands-on projects</h5>
        <h5 class="mt-4">Earn a shareable career certificate from Google</h5>
      </div>
      <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
        <div class="position-relative h-100">
            <img class="img-fluid position-absolute w-100 h-100" src="https://i.postimg.cc/FFBHrQ3n/a7c5400e51272c78b710ce9b56fd3178.avif" alt="" style="object-fit: cover;">
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container-xxl py-5">
  <div class="container">
    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
      <h6 class="section-title bg-white text-center text-info px-3">Certificates</h6>
      <h1 class="mb-5">Earn a career certificate</h1>
    </div>
    <div class="row g-5">
      <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
        <div class="position-relative h-100">
            <img class="img-fluid position-absolute w-100 h-100" src="https://i.postimg.cc/C1XBggRB/certificate.avif" alt="" style="object-fit: cover;">
        </div>
      </div>
      <div class="col-lg-6">
        <p class="mb-4">Add this credential to your LinkedIn profile, resume, or CV</p>
        <p class="mb-4">Share it on social media and in your performance review</p>
        <p class="mb-4">Certificates are globally recognized & they upgrade your programming profile.</p>
        <p class="mb-4">Certificates are generated after the completion of the course.</p>
        <h6 class="mb-4">Details to know</h6>
        <i class="fab fa-linkedin-in text-primary"></i>
        <p class="mb-4">Shareable certificate</p>
      </div>
    </div>
  </div>
</div>


<div class="container-xxl py-5">
  <div class="container">
    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
      <h6 class="section-title bg-white text-center text-info px-3">React Js  Paid Course</h6>
      <h1 class="mb-5">There are 5 modules in this course</h1>
    </div>
    <div class="col-lg-12">
        <p class="mb-4">Welcome to our paid React Js  course! This course covers advanced Python concepts.</p>
        <a class="btn btn-secondary py-3 px-5 mt-2 mb-4" href="{% url 'course_registration' %}">Join Now</a>
        <p class="mb-4">In this 143-part interactive tutorial, you'll learn how to build dynamic, interactive web applications with React.js. </p>
        <p class="mb-4">With Scrimba’s head of education, Bob Ziroll, as a guide, you’ll get to know all the bang-up-to-date features of React and fix them firmly in your memory by using them to create hands-on projects.</p>
        <p class="mb-4">React is a free and open-source front-end JavaScript library. It was created by the developers at Facebook for use in their own products, including Facebook, Instagram, and WhatsApp . React is also used by Netflix, The New York Times, AirBnb, Discord, DropBox, and many other big companies. In short, it is one of the most popular JavaScript libraries in the world.</p>
        <p class="mb-4">This course is filled with coding challenges that you'll complete by writing React code directly inside the Scrimba screencasts. Before you know it, you'll have written eight interactive React applications!</p>
        <p class="mb-4">This course is designed to help you learn to code in a way that sticks - no more tutorial Hell.</p>
        <p class="mb-4">We achieve this by stuffing the course full to the brim of interactive challenges, allowing you to develop the muscle memory you need to become a truly effective React developer.</p>
        <p class="mb-4">You’ll also benefit from spaced learning and repetition in this course. Make sure you give yourself time (days/weeks) to finish it, and include lots of breaks. Don't try cramming it all in at once.</p>
        <p class="mb-4">Once you are done, you will feel confident in your React skills and be ready to continue your coding journey.</p>
    </div>
  </div>
</div>


<div class="container-xxl py-5">
  <div class="container">
    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
      <h6 class="section-title bg-white text-center text-info px-3">Topics Covered</h6>
      <h1 class="mb-5">React Js Course Topics You will Learn</h1>
    </div>
    <div class="col-lg-12">
      <div class="accordion" id="accordionModules">
        <div class="accordion-item">
          <h2 class="accordion-header" id="moduleHeading-1">
            <button class="accordion-button bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#moduleCollapse-1" aria-expanded="true" aria-controls="moduleCollapse-1">
              <i class="fa fa-arrow-right text-info me-2"></i> Beginner Module
            </button>
          </h2>
          <div id="moduleCollapse-1" class="accordion-collapse collapse show" aria-labelledby="moduleHeading-1" data-bs-parent="#accordionModules">
            <div class="accordion-body">
              <ul>
                <li>Introduction to React Js</li>
                <li>Getting Started with React Js</li>
                <li>React Components & props</li>
                <li>DOM, Virtual DOM & Keys</li>
                <li>React Hooks & States</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="moduleHeading-2">
            <button class="accordion-button collapsed bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#moduleCollapse-2" aria-expanded="false" aria-controls="moduleCollapse-2">
              <i class="fa fa-arrow-right text-info me-2"></i> Intermediate Module
            </button>
          </h2>
          <div id="moduleCollapse-2" class="accordion-collapse collapse" aria-labelledby="moduleHeading-2" data-bs-parent="#accordionModules">
            <div class="accordion-body">
                <ul>
                    <li>useEffect Hook</li>
                    <li>Component Lifecycle</li>
                    <li>CSS in React Js</li>
                    <li>FIle structure & handling in React Js</li>
                    <li>Routing in React Js</li>
                </ul>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="moduleHeading-3">
            <button class="accordion-button collapsed bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#moduleCollapse-3" aria-expanded="false" aria-controls="moduleCollapse-3">
              <i class="fa fa-arrow-right text-info me-2"></i> Advanced Module
            </button>
          </h2>
          <div id="moduleCollapse-3" class="accordion-collapse collapse" aria-labelledby="moduleHeading-3" data-bs-parent="#accordionModules">
            <div class="accordion-body">
                <ul>
                    <li>Working with API in React Js</li>
                    <li>Using API data inside react components</li>
                    <li>Forms & Controlled components in React JS</li>
                    <li>Forms & Uncontrolled components in React JS</li>
                    <li>Forms Validations in React JS</li>
                </ul>                
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="moduleHeading-4">
            <button class="accordion-button collapsed bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#moduleCollapse-4" aria-expanded="false" aria-controls="moduleCollapse-4">
              <i class="fa fa-arrow-right text-info me-2"></i> Expert Module
            </button>
          </h2>
          <div id="moduleCollapse-4" class="accordion-collapse collapse" aria-labelledby="moduleHeading-4" data-bs-parent="#accordionModules">
            <div class="accordion-body">
                <ul>
                    <li>Context API and useContext in React js </li>
                    <li>useReducer Hook in React Js</li>
                    <li>useReducer & Context API together</li>
                    <li>useCallback & useMemo in React Js</li>
                    <li>Some Important topics in React Js</li>
                </ul>                
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




<div class="container-xxl py-5">
  <div class="container">
    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
      <h6 class="section-title bg-white text-center text-info px-3">Benefits</h6>
      <h1 class="mb-5">After this Course, You will be Able to</h1>
    </div>
    <div class="col-lg-12">
        <p class="mb-4">Create interactive and responsive UIs with React components & props.</p>
        <p class="mb-4">Effortlessly manage state using React Hooks, States, & Context API.</p>
        <p class="mb-4">Effectively use virtual DOM, keys & API for rendering data</p>
        <p class="mb-4">Implement routing and handle forms, including form validations.</p>
        <p class="mb-4">Build scalable web applications with reusable and organized React code.</p>
    </div>
  </div>
</div>


<div class="container-xxl py-5">
  <div class="container">
    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
      <h6 class="section-title bg-white text-center text-info px-3">FAQ</h6>
      <h1 class="mb-5">Frequently Asked Questions</h1>
    </div>
    <div class="col-lg-12">
      <div class="accordion" id="faqAccordion">
        <div class="accordion-item">
          <h2 class="accordion-header" id="faqHeadingOne">
            <button class="accordion-button bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapseOne" aria-expanded="true" aria-controls="faqCollapseOne">
                What is the overview of Greensoft Groups’s React Js certification course?
            </button>
          </h2>
          <div id="faqCollapseOne" class="accordion-collapse collapse show" aria-labelledby="faqHeadingOne" data-bs-parent="#faqAccordion">
            <div class="accordion-body">
                Get ready to transform your web development skills and unlock your world of possibilities with Greensoft Groups’s ReactJS Course. With hands-on experience and comprehensive knowledge included in the course modules, you'll be ready to take on React JS projects and contribute to the ever-evolving world of web development.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="faqHeadingTwo">
            <button class="accordion-button collapsed bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapseTwo" aria-expanded="false" aria-controls="faqCollapseTwo">
                Why learn the React Js course?
            </button>
          </h2>
          <div id="faqCollapseTwo" class="accordion-collapse collapse" aria-labelledby="faqHeadingTwo" data-bs-parent="#faqAccordion">
            <div class="accordion-body">
                Learning ReactJs course will be an accelerating move for aspiring web developers and professionals in the field of front-end development. Top companies and organizations like Instagram, Netflix, Airbnb & more, use ReactJS to build interactive and efficient user interfaces, making React developers highly sought after. Further, you get to open doors to a wide range of career opportunities in web development.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="faqHeadingThree">
            <button class="accordion-button collapsed bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapseThree" aria-expanded="false" aria-controls="faqCollapseThree">
                Why choose Greensoft Groups for learning React Js course?
            </button>
          </h2>
          <div id="faqCollapseThree" class="accordion-collapse collapse" aria-labelledby="faqHeadingThree" data-bs-parent="#faqAccordion">
            <div class="accordion-body">
                Greensoft Groups’s ReactJs course will give you in-depth knowledge through the clear & concise explanations provided by industry experts. Further, Greensoft Groups’s self-paced courses are available in native languages making it easy for learners to comprehend the complex concepts with ease.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="faqHeadingFour">
            <button class="accordion-button collapsed bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapseFour" aria-expanded="false" aria-controls="faqCollapseFour">
                What are the benefits of earning React Js course certification?
            </button>
          </h2>
          <div id="faqCollapseFour" class="accordion-collapse collapse" aria-labelledby="faqHeadingFour" data-bs-parent="#faqAccordion">
            <div class="accordion-body">
                Earning a ReactJS course certification demonstrates your proficiency in React development & also in front-end development. It also opens up various career opportunities and improves your credibility as a web developer. Certification is a valuable asset that not only accelerates your professional growth but also adds success in the web development industry.
            </div>
          </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="faqHeadingFive">
              <button class="accordion-button collapsed bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapseFive" aria-expanded="false" aria-controls="faqCollapseFive">
                Is the React Js course difficult to learn?
              </button>
            </h2>
            <div id="faqCollapseFive" class="accordion-collapse collapse" aria-labelledby="faqHeadingFive" data-bs-parent="#faqAccordion">
              <div class="accordion-body">
                Familiarity with Programming, JavaScript and web development concepts will make it easy to learn ReactJs. Greensoft Groups’s ReactJS course is meticulously designed making it more to this user-friendly and developer-friendly technology. React has a simple and declarative syntax that allows for efficient UI development. Learning ReactJS can be a valuable & rewarding skill that enhances your web development toolkit.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="faqHeadingSix">
              <button class="accordion-button collapsed bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapseSix" aria-expanded="false" aria-controls="faqCollapseSix">
                How long does it take to learn a React Js course?
              </button>
            </h2>
            <div id="faqCollapseSix" class="accordion-collapse collapse" aria-labelledby="faqHeadingSix" data-bs-parent="#faqAccordion">
              <div class="accordion-body">
                If you have prior programming experience, & familiarity with JavaScript and web development concepts, then understanding the depth of the ReactJs course content will not take much time and a solid 4-6 hours is needed to learn ReactJs for Beginners.
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>





{% endblock %}
