{% extends 'base.html' %}

{% block title %}
Reset Your Password - Django EvolveEcho Tech
{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h1 class="text-center">Reset Password</h1>
        <form method="post" class="row g-4 border p-4 rounded shadow-sm bg-light">
            {% csrf_token %}
            <div class="form-group col-12">
                <div class="row">
                    <div class="col-12">
                        <label for="new_password" class="form-label">New Password</label>
                        <input type="password" name="new_password" id="new_password" class="form-control" required>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-success px-4 float-end mt-4">Reset Password</button>
            </div>
            {% if error %}
                <p class="mt-3 text-danger">{{ error }}</p>
            {% elif success %}
                <p class="mt-3 text-success">{{ success }}</p>
            {% endif %}
        </form>
    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
{% endblock %}
